## Основы языка Python для аналитиков
### Семинар 2. Анализ датасета с помощью Pandas
***задание 1 (разбор ДЗ)***  
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

 распаковка в словарь - **  
 распоковка в список - *
 .values() - метод получения всех значений словаря
 если данных много = записывать срез в переменную или подгружать частями

In [30]:
def total_fruits(**fruits):
    total = 0
    for amount in fruits.values():
        total += amount
    return total
total_fruits(banan=7, mango=8, apple=5)

20

***задание 2 (разбор ДЗ)***  
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]

In [31]:
avd = [100, 125, -90, 345, 655, -1, 0, 200]

sum([i for i in avd if i > 0])

1425

***задание 3 (разбор ДЗ)***  
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
Найдите, какая выручка у компании в ноябре

In [32]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

sum_b = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

sum([sum_b[i] for i in range(len(dates)) if dates[i].split('-')[1] == '11'])

25098

***задание 4  

***
encoding='cp1251'
encoding='UTF-8'

In [33]:
import pandas as pd

In [72]:
df = pd.read_csv('data/laptop_price.csv', encoding='cp1251')

***вывод первых пяти***

In [35]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [37]:
df.describe()

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [38]:
df.describe(include=['object'])

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

***3.1 ноутбуков какой компании больше всего в данных***

In [39]:
df['Company'].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Company, dtype: int64

***3.2 какая минимальная и максимальная стоимость***

In [40]:
df['Price_euros'].min()

174.0

In [41]:
df['Price_euros'].max()

6099.0

***вывести все характеристики самого догорого***

In [42]:
df.sort_values('Price_euros', ascending=False).iloc[0]

laptop_ID                                           200
Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

***вывести диагональ, стоймость, компания***

In [44]:
sort_df = df.sort_values('Inches')

In [45]:
sort_df.head(4)[['Company', 'TypeName', 'Inches', 'Price_euros']]

     Company            TypeName  Inches  Price_euros
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
50    Lenovo  2 in 1 Convertible    10.1       319.00

***вывести диагональ, стоймость, компания***
через маску

In [47]:
sort_df = df.sort_values('Inches')

In [51]:
df[df['Inches'] == df['Inches'].min()][['Company', 'TypeName', 'Inches', 'Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

***сколько стоит самый догорой ноутбук компании HP***

In [53]:
df[df['Company'] == 'HP'][['Price_euros']].max()

Price_euros    4389.0
dtype: float64

In [54]:
df[df['Company'] == 'HP'].sort_values('Price_euros', ascending=False).iloc[0]

laptop_ID                                     758
Company                                        HP
Product                                  Zbook 17
TypeName                              Workstation
Inches                                       17.3
ScreenResolution      IPS Panel Full HD 1920x1080
Cpu                 Intel Xeon E3-1535M v5 2.9GHz
Ram                                          16GB
Memory                                  256GB SSD
Gpu                          Nvidia Quadro M2000M
OpSys                                   Windows 7
Weight                                        3kg
Price_euros                                4389.0
Name: 749, dtype: object

как много ноутбуков с Ram 8GB

In [59]:
df[(df['Ram'] == '8GB') & (df['TypeName'] == 'Ultrabook')].shape[0]

140

***Задание xx ***  
клиент хочет ноутбук с 8gb или 16gb озу, на win 10, до 500 евро:
сколько вариантов
без .shape[0] список

In [64]:
df[((df['Ram'] == '8GB') | (df['Ram'] == '16GB')) & (df['Price_euros'] <= 500) &(df['OpSys'] == 'Windows 10')].shape[0]

13

***Задание xx *** 
клиент хочет ноубук с параметрами: ноутбук от MSI с картой Nvidia GeForse GTX 1-50 Ti b главное не с диагональю 15.6. 
в какой ценовой категории вышли подобные ноутбуки

In [68]:
df[(df['Company'] == 'MSI') & (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') & (df['Inches'] !=15.6)]['Price_euros'].min()

1199.0

In [69]:
data = df[(df['Company'] == 'MSI') & (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') & (df['Inches'] !=15.6)]

In [70]:
data['Price_euros'].min()

1199.0